body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    white-space: nowrap;
  }
  
  p, h6{
    cursor: default;
  }

  header {
    background-color: #F9EF23;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo a{
          text-decoration: none;
          color: black;
        }

  .logo {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-family: 'Anton', sans-serif;
    font-style: italic;
    letter-spacing: 5px;
    margin-left: 20px;
  }
  
  .logo img {
    width: 20%;
    height: 20%;
    margin-right: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin-right: 50px;
    padding-left: 5px;
    display: flex;
  }
  
  nav ul li {
    margin-left: 40px;
    text-align: right;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
  }
  
  nav ul li a {
    color: #1B1C1F;
    text-decoration: none;
    transition: color 0.3s ease; 
  }
  
  nav ul li a:hover {
    color: #846A00;
  }
  
  nav ul li a:active {
    color: #5f4c03;
  }
      
  .first-section {
    display: flex;
  }
      
  .first-div {
    width: 35%;
    color: white;
    text-align: center;
    background-color: black;
  }
  
  .first-div h6 {
    font-family: 'League Gothic', sans-serif;
    font-size: 60px;
    letter-spacing: 7px;
    line-height: 1.5;
    margin: 0;
    margin-top: 80px;
    padding: 0;
    }
  
  .first-div p {
    font-family: 'Tenor Sans', sans-serif;
    line-height: 30px;
    margin-top: 50px;
    font-size: 18px;
  }
  
  .first-div button {
    font-family: 'League Gothic', sans-serif;
    font-size: 30px;
    letter-spacing:3px;
    margin-top: 50px;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F9EF23;
    border-style: hidden;
  }
      
  .second-div {
    width: 65%;
  }
      
  .slider {
    position: relative;
    height: auto;
    display: none;
  }
      
  .slider.active {
    display: block;
  }
      
  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
      
  .slider .description {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin-left: 35px;
  }
  
  .description h6 {
    font-family: 'League Gothic', sans-serif;
    font-size: 50px;
    background-color: #F9EF23;
    margin: 0;
    letter-spacing: 5px;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
  }
  
  .description p {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 17px;
    line-height: 30px;
    margin-top: 50px;
    color: white;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 100px;
  }
  
  .slider-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    z-index: 1;
  }
        
  .prev-button, .next-button {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-style: normal;
    text-shadow: #141414;
    font-size: 40px;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px black;
  }
        
  .prev-button {
    position: absolute;
    left: 10px;
  }
        
  .next-button {
    position: absolute;
    right: 10px;
  }

  #join-button {
    transition: color 0.5s ease;
  }

  .prev-button:hover, .next-button:hover, #join-button:hover {
    transform: scale(1.05);
  }

  #join-button:hover {
    background-color: #141414;
    border: solid 1px #F9EF23;
    color: #F9EF23;
    cursor: pointer;
  }

  .second-div {
    position: relative;
  }

  .pagination {
    position: absolute;
    bottom: 60px;
    left: 83px;
    transform: translateX(-50%);
    z-index: 2;
  }

  .pagination-button {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-style: hidden;
    margin: 0px;
    background-color: gray;
    cursor: pointer;
  }

  #pg1 {
  left: 0;
  } 

  #pg2 {
    left: 20px;
  }

  #pg3 {
    left: 40px;
  }

  #pg4 {
    left: 60px;
  }

  #pg5 {
    left: 80px;
  }

  .pagination-button.active {
    background-color: white;
  }
     
  #image-background {
    background-image: url("https://images.pexels.com/photos/4761352/pexels-photo-4761352.jpeg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
  }
  
  .second-section {
    text-align: center;
    margin-top: 5px;
  }
  
  .second-section h6, .form h6{
    margin: 0;
    font-family: 'Anton', sans-serif;
    color: #F9EF23;
    font-size: 51px;
    font-style: italic;
    padding-top: 30px;
    letter-spacing: 2px;
    
  }
  
  .second-section p, .form p {
    font-family: 'Tenor Sans', sans-serif;
    color: white;
    font-size: 15px;
    margin: 0;
    padding-top: 10px;
  }

  .package {
    text-align: center;
  }
  
  .package img {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .getStarted button {
    padding: 77px;
    padding-top: 22px;
    padding-bottom: 22px;
    border-radius: 10px;
  }

  .second-section {
    position: relative;
    text-align: center;
  }
  
  .getStarted button {
    padding: 15px 75px;;
    border: #141414;
    background-color: #35aadc;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    letter-spacing: 3px;
    margin: 10px;
    cursor: pointer;
    white-space: nowrap;
    transition: transform 0.5s ease;
  }

  .getStarted {
    position: absolute;
    display: inline-block;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    transition: color 0.5s ease;
  }

  .getStarted button:hover {
    transform: scale(1.005);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  #button1 {
    margin-right: 61px;
    background-color: #F9EF23;
  }
  
  #button3 {
    margin-left: 61px;
    background-color: #ff3131;
  }

  #button1:hover {
    color: #F9EF23;
    background-color: black;
    border: solid 3.5px #F9EF23;
  }

  #button2:hover {
    color: #35aadc;
    background-color: black;
    border: solid 3.5px #35aadc;
  }

  #button3:hover {
    color: #ff3131;
    background-color: black;
    border: solid 3.5px #ff3131;
  }
  
  .third-section {
    display: flex;
  }
  
  .form {
    width: 65%;
    padding: 20px;
    background-color: black;
  }
  
  .third-section {
    display: flex;
    margin-top: 9px;
  }
  
  .form {
    width: 65%;
    padding: 20px;
    background-color: black;
    text-align: center;
  }
  
  .form h6 {
    font-size: 51px;
  }
  
  .form p {
    font-size: 15px;
    margin-bottom: 60px;
  }
  
  .form-group {
    margin-bottom: 35px;
    position: relative;
  }
  
  .form-group label {
    display: none;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #F9EF23;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="tel"],
  .form-group select {
    background-color: white;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 30% auto;
    padding-left: 3%;
    box-sizing: border-box;
    width: 60%;
    height: 50px;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
  }

  .form-group input[type="email"] {
    text-transform: none;
  }

  ::placeholder {
    color: black;
    text-transform: uppercase;
  }

  .form-group input[type="submit"] {
    font-family: "League Gothic", sans-serif;
    font-size: 26px;
    color: white;
    letter-spacing: 3px;
    background-color: #ff3131;
    width: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-style: hidden;
    margin-top: 20px;
    margin-bottom: 100px;
    transition: background-color 0.3s ease;
  }

  .form-group input[type="submit"]:hover {
    background-color: #F9EF23;
    color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  
  .deco {
    width: 35%;
    background-image: url('https://images.pexels.com/photos/2261484/pexels-photo-2261484.jpeg?auto=compress&cs=tinysrgb&w=1600');
    background-size: cover;
  }

  footer {
            background-color: #1B1C1F;
            color: #FFFFFF;
            padding: 20px;
            text-align: center;
            font-family: 'Tenor Sans', sans-serif;
            
        }

        footer ul {
            list-style-type: none;
            padding: 0;
            margin: 10px 0;
            display: flex;
            justify-content: center;
            font-family: 'League Gothic', sans-serif;
            font-size: 24px;
        }

        footer ul li {
            margin: 0 10px;
        }

        footer ul li a {
            color: #FFFFFF;
            text-decoration: none;
            letter-spacing: 1px;
            transition: color 0.5s ease;
        }

        footer hr {
            border: none;
            border-top: 1px solid #FFFFFF;
            margin: 20px 0;
        }

        footer .social-icons {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            transition: transform 0.3s ease;
        }

        footer .social-icons a {
            display: inline-block;
            margin: 0 10px;
            color: #FFFFFF;
        }
        
        footer ul li a:hover {
          color: #F9EF23;
        }

        footer .social-icons img:hover {
          transform: scale(1.03);
        }
  